$btn-bg-color: rgba(33, 47, 48, 1);
$btn-border-color: rgb(86, 126, 129);
// $btn-txt-color: #8A84E2;
$btn-txt-color: #FAFFD8;
// $btn-txt-hover: white;
$btn-txt-hover: #8A84E2;


$content-bg-color: rgba(33, 47, 48, 0.6);
$card-bg-color: rgba(33, 47, 48, 1);