@use "variables";
@use "global";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
  font-family: 'Roboto', Arial, sans-serif;
  --primary-color: #6200ea;
  --secondary-color: #03dac6;
  --background-color: #ffffff;
  --text-color: #000000;
}

body,
p,
div,
h1,
h2,
h3,
h4,
.nav {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

.btn {
    text-decoration: none;
    background-color: variables.$btn-bg-color;
    color: variables.$btn-txt-color;
    transition: color 0.3s ease-in-out;
    text-align: center;
    padding: 5px 25px;
    border-radius: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    
    &:hover {
        color: variables.$btn-txt-hover;
    }
}

.content-bg {
    background-color: variables.$content-bg-color;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 6px 6px 24px 0px rgba(0, 0, 0, 0.75);
    height: 70vh;
    overflow: auto;
    transition: all 0.5s ease-in-out;

}
