@use "variables";
/* You can add global styles to this file, and also import other style files */

body,
p,
div {
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: variables.$links-color;
    transition: color 0.3s ease-in-out;
    &:hover {
        color: variables.$links-color-hover;
    }
}
