@use "variables";
/* You can add global styles to this file, and also import other style files */

body,
p,
div,
h1,
h2,
h3,
h4,
.nav {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
}

.btn {
    text-decoration: none;
    background-color: variables.$btn-bg-color;
    color: variables.$btn-txt-color;
    transition: color 0.3s ease-in-out;
    text-align: center;
    padding: 5px 25px;
    border-radius: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    
    &:hover {
        color: variables.$btn-txt-hover;
    }
}

.content-bg {
    background-color: variables.$content-bg-color;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 6px 6px 24px 0px rgba(0, 0, 0, 0.75);
    height: 70vh;
    overflow: auto;
    transition: all 0.5s ease-in-out;

}
