<div class="container"
  [ngClass]="{'fade-out': bgExiting, 'fade-in': !bgExiting}"
  [ngStyle]="{'background-image': backgroundImage}">
  
  <!-- Bouton pour petits écrans -->
  <button class="mobile-nav-btn btn" 
          [ngClass]="{'visible': globaleSectionActive !== ''}" 
          (click)="onLogoClicked()">Menu</button>

  <!-- <button class="btn toggle-theme-btn" (click)="toggleTheme()">
    Toggle Theme
  </button> -->

  <div class="theme-toggle">
    <span class="theme-label">Dark</span>
    <div class="theme-switch" (click)="toggleTheme()">
      <div class="theme-thumb" [ngClass]="{'dark': currentTheme === 'dark', 'light': currentTheme === 'light'}"></div>
    </div>
    <span class="theme-label">Light</span>
  </div>

  <div class="nav-container" [ngClass]="{'section-active': globaleSectionActive !== ''}">
    <app-nav 
      (globalSectionActive)="onGlobalSectionActive($event)" 
      (logoClicked)="onLogoClicked()">
    </app-nav>
  </div>
  
  <!-- Sections -->
  <div class="sections-container content-bg" [ngClass]="{'section-exit': isExiting, 'section-active': globaleSectionActive !== ''}">
    <router-outlet></router-outlet>
  </div>
</div>