.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    padding: 5%;
    background:
      radial-gradient(circle,rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, 1) 80%),
      url('/img/background.jpg') no-repeat center center;
    background-size: 130%;
    background-position: 0% 50%;
    animation: backgroundAnimation 30s infinite alternate;

    .nav-container {
        width: 100%;
        display: flex;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        
        &.section-active {
            width: 25%;
        }
        
        .nav {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 30%;
            height: 95%;
            overflow: auto;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(33, 47, 48, 0.6);
            padding: 40px;
            border-radius: 10px;
            box-shadow: 6px 6px 24px 0px rgba(0, 0, 0, 0.75);
        }

    }

    .sections-container {
        width: 70%;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        
        &:not(.section-active) {
            transform: translateX(100%);
            opacity: 0;
            width: 0;
        }

        &.section-exit {
            transform: translateX(100%);
            opacity: 0;
        }
    }
}

// Background Animation
@keyframes backgroundAnimation {
    0% {
      background-position: 20% 50%;
    }
    100% {
      background-position: 80% 50%;
    }
}