@use '../styles/variables' as *;

.container {
    position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;
    padding: 5%;
    background-size: cover;    
    background-repeat: no-repeat;
    background-position: 0% 50%;
    animation: backgroundAnimation 30s infinite alternate;
    transition: all 0.5s ease-in-out;
    z-index: 1;

    @media screen and (min-width: $medium) {
        background-size: 130%;
    }

    &::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: var(--gradient);
        z-index: -1;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }

    &.fade-out {
        &::before {
            opacity: 1;
        }
    }

    &.fade-in {
        &::before {
            opacity: 0;
        }
    }

    .nav-container {
        width: 100%;
        display: flex;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        
        &.section-active {
            width: 0;
            
            @media screen and (min-width: $medium) {
                width: 25%; 
            }
        }
        
        .nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            gap: 20px;
            align-items: center;
            
            @media screen and (min-width: $medium) {
                width: 50%;
                justify-content: space-between;
            }
        }

    }

    .sections-container {
        width: 100%;

        @media screen and (min-width: $medium) {
            width: 70%;
        }
        
        &:not(.section-active) {
            transform: translateX(100%);
            opacity: 0;
            width: 0;
        }

        &.section-exit {
            transform: translateX(100%);
            opacity: 0;
        }
    }
}

.mobile-nav-btn {
  position: fixed;
  top: 30px;
  left: 20px;
  z-index: 1000;
  transform: translateX(-120%);
  transition: transform 0.3s ease-in-out;

  &.visible {
    transform: translateX(0);
  }

  @media screen and (min-width: $medium) {
    display: none;
  }
}

// Background Animation
@keyframes backgroundAnimation {
    0% {
      background-position: 20% 50%;
    }
    100% {
      background-position: 80% 50%;
    }
}
        
.theme-toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);

  .theme-label {
    font-size: 0.9rem;
  }

  .theme-switch {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: var(--primary-color);
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--btn-bg-color);
    }

    .theme-thumb {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 21px;
      height: 21px;
      background-color: var(--secondary-color);
      border-radius: 50%;
      transition: all 0.3s ease-in-out;

      &.dark {
        left: 2px; /* Position pour le mode sombre */
      }

      &.light {
        left: 25px; /* Position pour le mode clair */
      }
    }
  }
}