@use '../../../styles/variables' as *;

.about-content {
    height: 100%;
    display: block;
    padding: 20px;

    @media screen and (min-width: $medium) {
      display: flex;
      align-items: center;
    }

  p {
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
    font-style: italic;
  }
}