<div class="projects__card">
    <div class="projects__card__header">
        <div class="header-image"></div>
        <h2>Majie.org</h2>
        <h3>NGO - Wordpress</h3>
    </div>
    <img src="/img/projects/majie.png" alt="Website Screenshot" class="projects__card__image">
    <div class="projects__card__description">
        <p>
            A website for an NGO, developed on a voluntary basis
        </p>
    </div>
    <div class="projects__card__actions">
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </div>
</div>
<div class="projects__card">
    <div class="projects__card__header">
        <div class="header-image"></div>
        <h2>LitReview</h2>
        <h3>Social network - Django</h3>
    </div>
    <img src="/img/projects/litrevu.png" alt="Website Screenshot" class="projects__card__image">
    <div class="projects__card__description">
        <p>
            A social network dedicated to book recommendations, developed as part of a training program.
        </p>
    </div>
    <div class="projects__card__actions">
        <button class="btn">LIKE</button>
        <button class="btn">SHARE</button>
    </div>
</div>