<div class="projects__card">
    <div class="projects__card__header">
        <div class="header-image"></div>
        <h2>Majie.org</h2>
        <h3>NGO - Wordpress</h3>
    </div>
    <img src="/img/projects/majie.png" alt="Website Screenshot" class="projects__card__image">
    <div class="projects__card__description">
        <p>
            A website for an NGO, developed on a voluntary basis
        </p>
    </div>
    <div class="projects__card__actions">
        <a href="https://github.com/DaGuinci/majie/tree/css/version_2024" class="btn" target="_blank" rel="noopener noreferrer">GITHUB</a>
        <a href="https://www.majie.org/" class="btn" target="_blank" rel="noopener noreferrer">VISIT</a>
    </div>
</div>
<div class="projects__card">
    <div class="projects__card__header">
        <div class="header-image"></div>
        <h2>LitReview</h2>
        <h3>Social network - Django</h3>
    </div>
    <img src="/img/projects/litrevu.png" alt="Website Screenshot" class="projects__card__image">
    <div class="projects__card__description">
        <p>
            A social network dedicated to book recommendations, developed as part of a training program.
        </p>
    </div>
    <div class="projects__card__actions">
        <a href="https://github.com/DaGuinci/litRevu" class="btn" target="_blank" rel="noopener noreferrer">GITHUB</a>
    </div>
</div>
<div class="projects__card">
    <div class="projects__card__header">
        <div class="header-image"></div>
        <h2>Failaka</h2>
        <h3>API - Django Rest Framework</h3>
    </div>
    <img src="/img/projects/failaka.png" alt="Website Screenshot" class="projects__card__image">
    <div class="projects__card__description">
        <p>
            Preservation and enhancement of the archives of the Failaka archaeological mission, developed as freelance.
        </p>
    </div>
    <div class="projects__card__actions">
        <a href="https://github.com/DaGuinci/failaka" class="btn" target="_blank" rel="noopener noreferrer">GITHUB</a>
    </div>
</div>
<div class="projects__card">
    <div class="projects__card__header">
        <div class="header-image"></div>
        <h2>evendev.net</h2>
        <h3>Portfolio - Angular</h3>
    </div>
    <img src="/img/projects/evendev.png" alt="Website Screenshot" class="projects__card__image">
    <div class="projects__card__description">
        <p>
            Showcasing the web development work of yours truly.
        </p>
    </div>
    <div class="projects__card__actions">
        <a href="https://github.com/DaGuinci/evendev.net" class="btn" target="_blank" rel="noopener noreferrer">GITHUB</a>
    </div>
</div>