<div class="top">
    <a>
        <img
            src="/img/logo.svg"
            alt="Logo" class="logo"
            (click)="setActiveSection('')"
        />
    </a>
</div>
<div class="middle">
    <nav class="entries">
        <a class="btn" (click)="setActiveSection('projects')">Projects</a>
        <a class="btn" (click)="setActiveSection('about')">About</a>
        <a class="btn" (click)="setActiveSection('contact')">Contact</a>
    </nav>
</div>
<div class="bottom">
    <div class="entries">
        <a
            href="https://www.linkedin.com/in/guillaume-even-dev"
            target="_blank"
            aria-label="LinkedIn"
            class="social-icon-linkedin"
            style="mask-image: url('/img/icons/linkedin.svg');"
        >
        </a>
        <a
            href="https://github.com/DaGuinci"
            target="_blank"
            aria-label="GitHub"
            class="social-icon-github"
            style="mask-image: url('/img/icons/github.svg');"
        >
        </a>
        <a 
            href="/files/geven_cv_en.pdf"
            target="_blank" 
            aria-label="View CV"
            class="social-icon-cv"
            style="mask-image: url('/img/icons/cv.svg');"
        >
        </a>
    </div>
</div>
