.left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .logo {
        width: 140px;
        height: auto;
        // box-shadow: 6px 6px 24px 0px rgba(0, 0, 0, 0.75);
    }
}

.right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    .entries {
        display: flex;
        flex-direction: column;
        gap: 25px;
        font-size: 1.7rem;

        a {
            background-color: #6E8894;
            padding: 5px 25px;
            border-radius: 15px;
            // transform: skew(-20deg);
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
}